.header{
    width: 1440px;
    height: 73px;
    background-color: #F7F7F7;
    margin:0;
    padding:0;
}
body{
    background-color:#F7F7F7;
}
  .circle{
margin-top: 23px;
margin-left: 27px;
width: 27px;
height: 27px;
color: #000000;
display: flex;
}  
.nav{
    display: flex;

}
.vision{
    width: 122px;
    height: 18px;
    color: #000000;
    margin-left: 793px;
    margin-top: 28px;
    margin-bottom: 27px;
    border-right-style: solid;
    margin-right: 18px;
    font-size: 12px;
    text-decoration: none;
}
.projects{
   width:56px;
   height: 18px;
   color:#000000;
    margin-left: 29px;
    margin-top: 28px;
    margin-bottom: 27px;
    border-right-style: solid;
    margin-right: 29px;
    font-size: 12px;
    text-decoration: none;

}
.equipe{
    width:49px ;
    height: 18px;
    color: #000000;
    margin-left: 29px;
    margin-top: 28px;
    margin-bottom: 27px;
    border-right-style: solid;
    margin-right: 29px;
    font-size: 12px;
    text-decoration: none;
}
.contact{
    width:62px ;
    height: 18px;
    color: #000000;
    margin-left: 29px;
    margin-top: 28px;
    margin-bottom: 27px;
    margin-right: 29px;
    font-size: 12px;
    text-decoration: none;
}
.building{
    width: 1440px;
    height: 700px;

}
.h2{
width: 233px;
height: 43px;
color:#262626;
font-size: 30px;
margin-top: 42px;
margin-left: 180px;
margin-right: 1027px;


}
.p1{
display: inline-block;
width: 79px;
height: 12px;
font-size: 12px;
color: #262626;
margin-right: 30px;
margin-left: 180px;
margin-top: 90px;
}
.p2{
display: inline-block;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
background-color: #0865DE;
margin-left: 30px;
margin-top: 77px;
}
.OUTILS{
width: 44px;
height: 12px;
color: #262626;
font-size: 11px;
margin-left: 180px;
margin-right: 30px;
margin-top: 65px;
display: inline-block;
}
.APP{
width: 29px;
height: 20px;
color: #000000;
font-size: 14px;
padding-left: 16px;
padding-right: 16px;
padding-top: 9px;
padding-bottom: 7px;
background-color: #FFFFFF;
display: inline-block;
margin-left: 30px;
margin-top: 50px;
}
 .div1{
display: inline-block;

}
.p3{
width: 607px;
height: 96px;
color: #262626;
font-size: 32px;
margin-left: 180px;
margin-right: 70px;
margin-top: 60px;
margin-bottom: 60px;

}
.p4{
width: 686px;
height: 212px;
color: #434343;
font-size: 25px;
margin-left: 180px;
margin-right: 70px;
margin-top: 60px;
margin-bottom: 60px;
}
.div2{
display: inline-block;
width: 142px;
height: 36px;
font-size: 25px;
color: #262626;
padding-left: 90px;
padding-top: 90px;
padding-bottom: 160px;
padding-right: 160px;
background-color: #FFFFFF;
}
 .people{
width: 33px;
height: 33px;
float:right;

} 
.cube{
width: 182px;
height: 163px;
background-color:#0865DE;
margin-top: 100px;
margin-left: 5px; 
} 
.one{
width: 151px;
height: 38px;
font-size: 14px;
color: #FFFFFF;
}
.two{
width: 152px;
height: 11px;
color:#FFFFFF;
font-size: 10px;
}
.three{
width: 152px;
height: 33px;
font-size: 12px;
color:#FFFFFF;
}
.bottom1{
display: inline-block;
width: 158px;
height: 20px;
color:#959595;
font-size: 14px;
margin-left: 180px;
margin-right: 90px;

}
.bottom2{
    display: inline-block;
    width: 44px;
    height: 20px;
    color:#959595;
    font-size: 18px;
    margin-right: 90px;
    
    }
    .bottom3{
    display: inline-block;
    width: 258px;
    height: 20px;
    color:#959595;
    font-size: 18px;
     margin-right: 593px;
    }
    .building2{
    width: 1260px;
    height: 810px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 120px;

}
.heading{
    width: 141px;
    height: 20px;
    color: #000000;
    font-size: 14px;
    margin-top: 90px;
    margin-left: 181px;
}
.section1{
    margin-top: 60px;
    margin-left: 120px;
    display: inline-block;
}
.image1{
    width: 320px;
height: 276px;
}
.space{
    width: 320px;
    height: 165px;
    background-color:#FFFFFF;
    position:absolute;
   
}
.space1{
    position: relative;
}
.buttonblock{
    display:flex;
    width: 177px;
    height: 48px;
    margin-top: 90px;
    margin-left: 616px;
    margin-right: 647px; 
}

.button6{
 width:90px;
height: 18px; 
   padding-top: 16px;  
 padding-bottom: 14px; 
 padding-left: 70px;
padding-right: 17px;  
color:#FFFFFF; 
background-color: #FF7600;
} 
.eye{
width: 24px;
height: 17px;
color: #FFFFFF;
}
.buttonblock eye::after {
    content: "";
    display: inline-block;
    height: 30px;
    width: 2px;
    background-color: black;
    margin-left: 10px;
}
 .footer{
width: 1440px;
height: 422px;
margin-top: 88px; 
display: flex;
 }
.head{

width: 122px;
height: 18px;
font-size: 12px;
color: #111111;
margin-left: 50px;

}
.head1{
    
    width: 134px;
    height: 18px;
    font-size: 12px;
    color: #111111;
    }
    .head2{
    
    width: 91px;
    height: 18px;
    font-size: 12px;
    color: #111111;
    margin-left: 134px;
    }
    .head3{
    
     width: 69px;
     height: 18px;
     font-size: 12px;
     color: #111111;
     margin-left: 156px;
 } 

.secondinfo{
     width: 100px;
    height: 112px; 
    color: #959595;
    font-size: 11px;
    margin-left: 64px;
    margin-right: 119px;
}
.secondinfo1{

     width: 130px;
    height: 112px; 
    color: #959595;
    font-size: 11px;
    margin-right: 119px;
   
}
.secondinfo2{
     width: 54px;
    height: 112px; 
    color: #959595;
    font-size: 11px;
    margin-left:136px;
    margin-right: 188px;
}
  .secondinfo3{
    
     width: 38px;
    height: 162px; 
    color: #959595;
    font-size: 11px;
    margin-left:188px;
    margin-right: 98px;
    margin-bottom: 1px;

  }

  .whiteblock1{
    width: 1000px;
    height: 420px;
   background-color: #FFFFFF; 
  } 
  .footerh5{
width: 227px;
height: 18px;
font-size: 12px;
color: #111111;

  }
  .footerp{
width: 296px;
height: 34px;
color: #111111;
font-size: 14px;
  }
  .emailh5{
width: 31px;
height: 12px;
font-size: 11px;
color: #111111;
  }
  .footerdiv{
display: flex;
  }
  .input{
width: 249px;
height: 37px;
border-color:#0865DE;
  }
  .ok{
    width: 45px;
    color: #FFFFFF;
    padding-left: 14;
    padding-right: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #0865DE;
    margin: 0;
    padding: 0;
  }
  .footermaindiv{
    display: flex;
    justify-content: space-between;
    width: 1440px;
height: 120px;
  }
  .footerdiv3{
    display: flex;
  }
  .footerlogo{
    width: 27px;
    height: 27px;
    margin-left: 90px;
    margin-top: 47px;
    margin-right: 37px;
  }
  .footerp2{
    width: 352px;
    height: 32px;
    color: #959595;
    margin-top: 45px;
  }
  .footerp3{
    width: 280px;
    height: 12px;
    color: #959595;
    margin-top: 67px;
    margin-right: 1px;
    margin-left: 80px;
  }